
  .MAPA-DE-NAVEGAO {
    width: 190px;
    height: 19px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .Rectangle-15 {
    /* width: 1440px; */
    /* height: 458px; */
    background-color: #191922;
    padding-top: 1px;
  }
  .LineFooter {
    
    color:#2C2D40;
    background-color:#2C2D40;
  }
  .FooterLinks {
    
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #848484;
  }
  .Type-something {
    width: 455px;
    height: 80px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #525252;
  }

  .O-que-seria-Customer {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #bcbec7;
  }
  .O-que-seria-Customer .text-style-1 {
    font-size: 11px;
    color: #3d3d3d;
  }
  .Bitmap {
    width: 105px;
    height: 43px;
    object-fit: contain;
    margin-bottom: 91px;
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 0px;
  }

  a:hover{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #848484;
  }

  .Rectangle-2 {
    width: 428px;
    height: 767px;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #282727;
  }

  .Dados-de-acesso {
  
    margin-bottom: 7px; 
    width: 139.3px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .Rectangle-3 {
    width: 364px;
    height: 42px;
    border-radius: 2px;
    background-color: #ffffff;
    color: #a4a0a0;
  }

  .Dados-da-empresa {
    padding-top: 7px; 
    width: 152.5px;
    height: 21px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  
